{
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "extends": [
    "prettier",
    "prettier/standard",
    "semistandard"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  },
  "plugins": [
    "import",
    "prettier",
    "react",
    "standard"
  ],
  "rules": {
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1
  }
}
