name: master

on:
    push:
        branches:
            - master

env:
    # For google stuff, use production key in staging env.
    SIS_ANDROID_GOOGLE_MAPS_KEY: ${{ secrets.SIS_PRODUCTION_ANDROID_GOOGLE_MAPS_KEY }}
    SIS_IOS_GOOGLE_MAPS_KEY: ${{ secrets.SIS_PRODUCTION_IOS_GOOGLE_MAPS_KEY }}

jobs:
    expo-staging:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v1
            - uses: actions/setup-node@v1
              with:
                  node-version: 12.x
            - uses: expo/expo-github-action@v5
              with:
                  expo-version: 4.x
                  expo-username: ${{ secrets.EXPO_CLI_USERNAME }}
                  expo-password: ${{ secrets.EXPO_CLI_PASSWORD }}
                  expo-cache: true
            - run: yarn install
            - name: Generate staging app.json
              run: ./scripts/generateAppJson.js > app.json
            - run: expo publish
